

{% extends 'base.html' %}
{% block content %}


<h1>Add Stock...</h1>
<br/>


<form action = "{% url 'add_stock' %}" class="form-inline my-2 my-lg-0" method="POST" role="search"> 
           {% csrf_token %}
   <input class="form-control" type="text" placeholder="Add Ticker to Portfolio" aria-label="Search" name="ticker">
   <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add Stock</button>
</form>

<br/>
<br/>


<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Company Name</th>
      <td scope="col">Price</td>
      <td scope="col">Previous Close</td>
      <td scope="col">Market Cap</td>
      <td scope="col">YTD Change</td>
      <td scope="col">52Wk High</td>
      <td scope="col">52Wk Low</td>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  	{% if ticker %}
	    	   {% for list_item in output %}
			   <tr>
				    <th>{{list_item.companyName}}</th>
			    	<td>${{list_item.latestPrice|stringformat:"1.2f"|cut:"-"}}</td>
		    		<td>${{list_item.previousClose|stringformat:"1.2f"|cut:"-"}}</td>
		      		<td>${{list_item.marketCap}}</td>
		      		<td>{{list_item.ytdChange}}</td>
		       		<td>${{list_item.week52High|stringformat:"1.2f"|cut:"-"}}</td>
		        	<td>${{list_item.week52Low|stringformat:"1.2f"|cut:"-"}}</td>
		        </tr>
		        {% endfor %}
	    
		
	{% endif %}

  </tbody>
</table>

<br/>
<br/>

{% for item in ticker %}
<a href="{% url 'delete' item.id %}" class="btn btn-secondary"> Delete {{item}}</a> 
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endfor %}
	


{% endblock %}